@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: Poppins;
  src: url(../public/font/poppins/Poppins-Bold.ttf);
  font-weight: bold;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: Poppins;
}
p {
  line-height: 2em;
}
.container {
  width: 80%;
}
.personality-card {
  
}

.break {
  height: 1920px;
}

.card {
  width: 70%;
}

.card-action {
  rotate: -5deg;
}

.card-nurturing {
  rotate: -10deg;
}

.card-blueprint {
  rotate: -15deg;
}

.card-knowledge {
  rotate: -20deg;
}

section {
  /* min-height: 100vh; */
  margin-top: 100px;
  margin-bottom: 100px;
}

.circle {
  width:60px;
  height:60px;
  
}

.cta-quote {
  background: #212121;
  
}

.bank-white {
  top: -25%;
  scale: .75;
  rotate: 20deg;
  right: -20%;
}

.footer {
  background: #212121;
}
